html{
    margin: 0px;
    padding: 0px;
    height: 100%;
    font-size: 62.5%;
    font-family: sans-serif;
    box-sizing: border-box;
}
.clear{
  clear:both;
}

body{
  select{
    color:#000 !important;
  }
  select:focus::-ms-value {
    background: transparent;
    color: inherit;
    outline-style: dotted;
    outline-width: thin;
  }  
  option:checked, option:hover {
      color: #000;
  }  
  .scroll{
    max-height:400px;
    overflow-y: scroll;
  }
  .cursobtn,.relbtn,.palestrabtn{
    cursor:pointer;
  }
  input[type="text"],input[type="password"]{
    border:0px;
  }
  .erroinput{
    border:0px;
    border-bottom:2px solid #da2f2f !important;
  }
  .modaltable{
    table{
      margin: 30px 0;
    }
    thead{
      td{
        padding:5px;
      }
    }
  }
  .modal-dialog{
    &.portrait{
      width: 800px;
    }
  }
    font-family: 'FrutigerLTW02-55Roman',Frutiger,"Frutiger Linotype",'Myriad Pro',Myriad,'Segoe UI',Tahoma,Verdana,Geneva,sans-serif;
    font-size: 14px;
    line-height: 1.1;
    color: #fff;  
    -webkit-tap-highlight-color: transparent;
    background: url(../images/bg.jpg) no-repeat top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;     
  .container {
      width: 980px;
      background-color: #fff;
      padding: 10px;
      margin: 75px auto 0;
      position: relative
  }
  .container #header {
      background: url(../images/courses.png) no-repeat top center;
      padding: 520px 30px 0 40px;
      height: 790px
  }
  .container #header h1#logo {
      width: 262px;
      height: 296px;
      background: url(../images/logo.png) no-repeat center center;
      position: absolute;
      top: -60px;
      left: 110px;
      margin: 0px;
  }

  .container #header h2 {
    position: absolute;
    top: 31px;
    right: 120px;
    margin: 0px;
    font-size: 14px;
    text-transform: uppercase;
    a, a:visited, a:active{
      color: white;
    }
  }

  .container #header h1#logo span {
      display: none
  }
  .container #header p.pull-left {
      width: 440px;
      font-size: 16px;
      color: #135ea0
  }
  .container #header p.pull-left span {
      font-weight: bold;
      //font-family: 'Frutiger LT W01 65 Bold'
  }
  .container #header p.pull-left span.destak {
      font-size: 19px
  }
  .container #header p.pull-right {
      width: 295px;
      padding-top: 38px;
      font-size: 18px;
      margin-right: 100px;
      color: #fff
  }
  .container #content {
      overflow: hidden;
      background: #135ea0;
      color: #fff;
      padding: 50px 75px
  }
  .container #content h2,
  .container #content p.italic {
      text-align: center;
      margin-bottom: 7px
  }
  .container #content h2 {
      font-size: 23px;
      font-weight: bold;
      //font-family: 'Frutiger LT W01 65 Bold'
  }
  .container #content p.italic {
      font-size: 17px;
      font-style: italic;
      //font-family: 'FrutigerLTW01-56Italic'
  }
  .container #content form {
      text-align: center;
      margin: 30px 0
  }
  .container #content form span.customSelect {
      width: 300px;
      font-size: 21px;
      background-color: #fff;
      color: #9a9c9d;
      font-style: italic;
      //font-family: 'FrutigerLTW01-56Italic';
      padding: 10px;
      border: 1px solid #e7dab0;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px 5px
  }
  .container #content form span.customSelect.changed {
      background-color: #f0dea4
  }
  .container #content form .customSelectInner {
      width: 270px!important;
      text-align: left;
      background: url(../images/customSelect-arrow.gif) no-repeat center right
  }
  .container #content #divisor {
      background: url(../images/divisor.gif) no-repeat top center;
      width: 809px;
      height: 7px;
      margin: 0 auto 30px
  }
  .container #content h3 {
      font-size: 24px;
      font-weight: bold;
      font-family: 'Frutiger LT W01 65 Bold'
  }
  .container #content .box {
      width: 380px;
      height: 215px;
      padding: 20px;
      background: #11538d;
      float: left;
      margin: 20px 12px 0
  }
  .container #content .box span {
      display: block;
      margin-bottom: 7px;
      line-height: 1.2;
      font-size: 16px
  }
  .container #content .box span:last-child {
      margin-bottom: 0
  }
  .container #content .box span.enterprise {
      font-size: 18px;
      text-transform: uppercase;
      font-weight: bold;
      
  }
  .container #content .box span.phone {
      background: url(../images/phone.gif) left center no-repeat;
      padding-left: 20px
  }
  .container #content .box span.email {
      background: url(../images/email.gif) left center no-repeat;
      padding-left: 20px
  }
  .container #footer {
      padding: 20px 90px 0
  }
  .container #footer p {
      height: 59px;
      font-size: 12px;
      padding-top: 8px;
      color: #616263
  }
  .container #footer p img {
      float: left;
      margin-right: 15px;
      margin-top: -8px
  }
  .modal-body{
    background-color: #2180bb;
    padding:10px 80px;
    &.dark {
      background:#085398;
    }
    .inbox-rel{
      .rel{
        padding:5px 20px;
        h2{
          background-color: #0071a3;
          padding: 10px 20px;
          margin: 5px 0;
          font-size: 20px;
        }
      }
    }
    .inbox{
      margin: 20px 0;
      max-height: 400px;
      overflow-y:auto;
      overflow-x:hidden;
      padding:20px; 
      .formpintor{
        border-bottom:1px solid white;
        padding:5px 0;
        margin: 0 0 5px 0px; 
      } 
      input[type="file"]{
            background: white;
            padding: 10px;
            width: 100%;
            color: black;
      }
      select{
        height: 30px;
        width: 100%;
        padding: 5px;
        border: 0px;
        color: black;        
      }
      .num{
        line-height: 35px;
      }
      .btn{
        width: 100%;
        padding:10px;
        font-size: 18px;
        text-transform: uppercase;
      }
    }
    .box{
      background-color:#0071a3;
      padding: 20px;
      margin-bottom: 20px;
      .title{
        font-size: 30px;
        margin: 0;
        text-align: center;
        text-transform: uppercase;
      }
      .subtitle{
        font-size: 12px;
        text-align: center;
      }
    }

    .col-md-12{
      padding-right:0px;
    }
    .sem{
      margin: 0;
    }
    .semp{
      padding:0;
    }
    a,a:active,a:visited{
      color: white;
      text-decoration:underline;
    }
    h1{
      text-transform: uppercase;
      font-size: 36px;
    }
    input[type=text],input[type=password]{
      width: 100%;
      padding:8px;      
      color: black;
    }
    input[type=button]{
      border:0px;
      background-color:#052653;
      color:#FFF;
      padding:8px;
    }
  }
}



/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.modal-mask {
    display:    block;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 0, 0, 0, .8 );
}
.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}
