// Add custom font
@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700,300);
$font-family-base: 'Yanone Kaffeesatz', sans-serif;

@font-face {
	font-family: 'Cubano';
	src: url('../fonts/Cubano-Regular.eot');
	src: url('../fonts/Cubano-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Cubano-Regular.woff') format('woff'),
		url('../fonts/Cubano-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

//COLORS
$dark-brown: #29010b;
$beige: #ead8aa;
$browntored: #3f000f;
$orange: #f6aa06;
$yellow: #fff200;
$blue: #009fe2;
$pink: #ec008c;
$brown-font:#400009;
$blue:#009fe2;

// Import bootstrap and fontawesome
@import "reset.scss";
@import "bootstrap";
@import "base.scss";